
.dropdown {
    position: relative;
}

.dropdown > span {
    cursor: pointer;
    padding: 1px;
    /* border-bottom: 1px solid #ccc; */
    max-width: 200px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdown ul {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    list-style: none;
    padding: 0;
    margin: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 10;
    display: none;
}

.dropdown ul li {
    padding: 10px;
}

.dropdown ul li a {
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s ease;
    max-width: 200px; 
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdown ul li a:hover {
    background-color: #f5f5f5;
}

.dropdown:hover ul {
    display: block;
}
