form {
    background-color: #fff8e7;
    border: 1px solid salmon;
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
    padding: 0 1rem 1rem;
  }
  
  form input {
    margin: 0.25rem 0;
  }
  
  form button[type="submit"] {
    width: 40%;
  }

  /* button {
    font-size: 1rem;
    display: inline-block;
    background-color: #fff8e7;
    border: 1px solid salmon;
    margin: 1rem;
    padding: 1rem;
    text-decoration: none;
    color: salmon;
    cursor: pointer;
  } */