.login-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh; /* This ensures the form is centered vertically on the page */
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  
  .form-label {
    width: 205px; /* Adjust width as needed */
    margin-right: 10px; /* Add margin for spacing */
  }
  
  .form-input {
    flex: 1; /* Take up remaining space */
    padding: 8px;
    box-sizing: border-box; /* Ensure padding is included in the width */
    height: 30px; /* Set the height */
    border: 1px solid #ccc; /* Add border */
    width: 350px; /* Fixed width to prevent resizing */
  }
  
  .error-message {
    color: red;
    margin-top: 4px;
  }
  
  
  
    
  
    
    